.menu {
    position: absolute;
    top: 800px;
    left: 0px;
    width: 1200px;
    height: 300px;
    background: black;
    color: brown;
    overflow-x: auto;
}

.info {
  position: absolute;
  top: 120px;
  left: 1300px;
  font-size: 20px;
  font-family: Verdana;
}

.terrain-choice {
  position: absolute;
  left: 1300px;
}

#grid {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}